# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java
trigger:
- main

pool:
  vmImage: ubuntu-latest

jobs:
- job: DemoParallel
  displayName: "Demo de pruebas paralelas"
  strategy:
    parallel: 2   # Aquí se usan 2 agentes
  steps:
  - script: echo "Agent #${{ variables['System.JobPositionInPhase'] }} de ${ { variables['System.TotalJobsInPhase'] } } – Iniciando pruebas"
    displayName: "Inicio"
  - script: echo "Simulando ejecución de pruebas en este agente..."
    displayName: "Ejecutar pruebas ficticias"
  - script: echo "Agent #${{ variables['System.JobPositionInPhase'] }} – Finalizado"
    displayName: "Finalización"