# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java
trigger:
- main

pool:
  vmImage: ubuntu-latest

jobs:
- job: TestParalelo
  displayName: "Ejecutar pruebas en paralelo"
  strategy:
    parallel: 3   # ← Esto crea 3 trabajos paralelos
  steps:
    - script: echo "Inicio del trabajo paralelo $(strategy.jobIndex)"
    - script: echo "Simulando ejecución de pruebas en job $(strategy.jobIndex)..."
    - script: echo "Finalizando trabajo $(strategy.jobIndex)"